* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: Inter; 
  src: url(assets/fonts/Inter-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: Work Sans; 
  src: url(assets/fonts/work-sans.regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: Work Sans Bold; 
  src: url(assets/fonts/work-sans.bold.ttf);
  font-weight: bold;
}

body {
  font-family: Work Sans;
  max-width: 1728px;
  margin: 0 auto;
  color: #081323;
}

a {
  text-decoration: none;
  color: #ffffff;
}

li {
  list-style-type: none;
}

.big-wrapper {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 82%, #FFFFFF 98%), url(assets/images/background.png);
  width: 100%;
  height: 1190px;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1474px;
  margin: 0 auto;
  padding: 60px 0 85px 0;
}

.logo {
  font-family: Inter;
  font-size: 2rem;
  text-transform: capitalize;
}

.logo::before {
  position: relative;
  content: url(assets/icons/logo.svg);
  right: 6px;
  top: 4px;
}

.header-navigation {
  width: 534px;
  margin-right: 130px;
}

.header-navigation > ul {
  display: flex;
  justify-content: space-between;
}

.header-navigation__link {
  font-size: 1.5rem;
  text-transform: capitalize;
}

.header-navigation__link:hover,
.header-navigation__link_active,
.colection-link:hover {
  background-image: linear-gradient(90deg, #2AF598, #009EFD);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main-text {
  display: flex;
  flex-direction: column;
  width: 1128px;
  text-align: center;
  align-items: center;
  margin: 0 auto;
  color: #ffffff;
}

.main-text__header {
  font-family: Work Sans Bold;
  font-size: 82px;
  text-transform: capitalize;
  padding-bottom: 24px;
}

.lower-case {
  text-transform: lowercase;
}

.main-text__phrase {
  width: 583px;
  font-size: 1.5rem;
  line-height: 150%;
  padding-bottom: 42px;
}

.search-panel {
  width: 463px;
  height: 71px;
  position: relative;
}

.search-panel__input {
  width: 401px;
  height: 69px;
  outline: 0;
  border: 1px solid #ffffff;
  color: #ffffff;
  font-size: 1.25rem;
  letter-spacing: 1px;
  border-radius: 50px;
  background-color: #ffffff33;
  padding: 0 30px;
  backdrop-filter: blur(20px);
}

.search-panel__input:focus::-webkit-input-placeholder {
  color: ytransparent;
}

.search-panel__input::placeholder {
  color: #ffffff;
  font-size: 1.25rem;
}

.search-panel__btn {
  background: url(assets/icons/loupe.svg) no-repeat 50% 50%, linear-gradient(90deg, #2AF598, #009EFD);
  width: 50px;
  height: 50px;
  position: absolute;
  border-radius: 50px;
  border: 0;
  top: 10px;
  right: 12px;
  cursor: pointer;
}

.section {
  max-width: 1487px;
  margin: 0 auto;
}

.advantages {
  padding: 103px 0;
  display: flex;
  justify-content: space-between;
}

.advantages__item {
  display: flex;
  align-items: center;
}

.advantages__text {
  display: flex;
  flex-direction: column;
}

.advantages__header {
  font-family: Work Sans;
  font-size: 2rem;
  text-transform: capitalize;
}

.advantages__span {
  font-family: Work Sans;
  font-size: 1.25rem;
  line-height: 52px;
  color: #828282;
}

.advatages__icon {
  width: 84px;
  height: 84px;
  padding-right: 24px;
}

.advatages__icon_box {
  background: url(assets/icons/box.svg) no-repeat 23% 15%;
}

.advatages__icon_wallet {
  background: url(assets/icons/wallet.svg) no-repeat 23% 15%;
}

.advatages__icon_headset {
  background: url(assets/icons/headset.svg) no-repeat;
}

.products-section {
  width: 1452px;
  margin: 0 auto;
  padding: 155px 0px;
}

.products-block {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.section-header-wrapper {
  width: 363px;
  height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.section-header {
  font-family: Work Sans;
  font-size: 4rem;
  text-transform: capitalize;
  line-height: 75px;
}

.colection-link {
  font-family: Work Sans;
  font-size: 1.5rem;
  color: #4f4f4f;
}

.colection-link::after {
  content: url(assets/icons/arrow.svg);
  position: relative;
  top: 3px;
  left: 21px;
}

.colection {
  display: flex;
  width: 1051px;
  justify-content: space-between;
}

.colection__item {
  display: flex;
  flex-direction: column-reverse;
  width: 329px;
  height: 510px;
  background: #c1d0e4;
  border-radius: 50px;
  filter: drop-shadow(0px 4px 30px rgba(221, 218, 218, 0.25));
}

.colection__img {
  position: absolute;
  bottom: 290px;
  left: 3px;
}

.colection__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
  border-radius: 50px;
  height: 208px;
  padding: 26px 38px;
}

.colection__info_header {
  font-family: Work Sans;
  font-size: 2rem;
  text-transform: capitalize;
  padding-bottom: 6px;
}

.colection__info_rating {
  width: 120px;
  display: flex;
  justify-content: space-between;
}

.star {
  content: url(/assets/icons/star.svg);
}

.colection__buy {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.colection__price {
  font-family: Work Sans;
  font-size: 2rem;
}

.colection__button {
  background: url(assets/icons/plus.svg) no-repeat 50% 50%;
  width: 64px;
  height: 64px;
  border: none;
  cursor: pointer;
}

.interior-section {
  max-width: 1484px;
  margin: 0 auto;
  padding: 26px 0 184px 0;
}

.interior-header-wrapper {
  display: flex;
  flex-direction: column;
  height: 130px;
  justify-content: space-between;
  text-align: center;
  padding-bottom: 90px;
}

.interior-span {
  font-family: Work Sans;
  font-size: 1.5rem;
  line-height: 28px;
  color: #4f4f4f;
}

.images {
  width: 1483px;
  height: 985px;
  display: flex;
  margin: 0 auto;
  gap: 32px;
}

.images__column {
  width: 735px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.images__item {
  border-radius: 50px;
  position: relative;
  cursor: pointer;
}

.images__img {
  width: 100%;
  height: 100%;
}

.images__overlay {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 5;
  border-radius: 50px;
  opacity: 0;
}

.images__overlay span {
  position: absolute;
  top: 47%;
  font-family: Work Sans Bold;
  font-size: 4rem;
  color: #ffffff;
}

.images__overlay:hover {
  animation: overlay 2s ease;
}

@keyframes overlay {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}

.care-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1488px;
  margin: 0 auto;
  padding-bottom: 204px;
}

.care-header-wrapper {
  max-width: 452px;
  padding-bottom: 82px;
}

.care-header {
  font-family: Work Sans;
  font-size: 4rem;
  line-height: 75px;
  color: #081323;
  padding-bottom: 26px;
}

.care-span {
  font-family: Work Sans;
  font-size: 1.5rem;
  line-height: 28px;
  color: #4f4f4f;
}

.care-hints {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 585px;
  height: 495px;
}

.care-hints__item {
  max-width: 585px;
  display: flex;
}

.care-hints__text {
  display: flex;
  flex-direction: column;
}

.care-hints__text_short {
  width: 410px;
}

.care-hints__header {
  font-family: Work Sans;
  font-size: 2rem;
  line-height: 45px;
}

.care-hints__span {
  font-family: Work Sans;
  font-size: 1.25rem;
  line-height: 26px;
  color: #828282;
}

.care-hints__icon {
  padding-right: 93px;
  background-repeat: no-repeat;
}

.care-hints__icon_sun {
  background-image: url(assets/icons/sun.svg);
}

.care-hints__icon_water {
  background-image: url(/assets/icons/water.svg);
}

.care-hints__icon_plant {
  background-image: url(/assets/icons/plant-pot.svg);
}

.care-hints__icon_temp {
  background-image: url(/assets/icons/temperature.svg);
}

.care-img {
  width: 657px;
  height: 618px;
}

footer {
  height: 546px;
  background: linear-gradient(93.99deg, #566270 0.51%, #283444 100%);;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  width: 1533px;
  margin: 0 auto;
  padding: 120px 0 35px 0;
  border-bottom: 1px solid #ffffff;
}

.newslatter-header {
  font-family: Work Sans;
  font-weight: 500;
  font-size: 3rem;
  line-height: 56px;
  color: #ffffff;
  padding: 10px 10px 26px 10px;
}

.search-panel__btn_footer {
  background: linear-gradient(90deg, #2AF598, #009EFD);
  width: 145px;
  height: 47px;
  position: absolute;
  border-radius: 50px;
  border: 0;
  top: 10px;
  right: 12px;
  cursor: pointer;
  font-family: Work Sans;
  font-size: 1.25rem;
  color: #ffffff;
}

.footer-menu {
  width: 948px;
  display: flex;
  justify-content: space-between;
}

.footer-column:last-child {
  width: 340px;
}

.footer-column__header {
  font-family: Work Sans;
  font-size: 1.5rem;
  color: #ffffff;
  padding-bottom: 41px;
}

.footer-column__link {
  line-height: 150%;
  padding-bottom: 16px;
}

.footer-copyrigh-wrapper {
  text-align: center;
  padding-top: 52px;
}

.footer-copyrigh {
  font-family: Work Sans;
  font-size: 1.5rem;
  line-height: 28px;
  color: #ffffff;
}